DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=georidge_platform.settings.dev

# QGIS Server configuration
# For Docker: http://qgis-server:80
# For local Windows: http://localhost/qgis-ltr/qgis_mapserv.fcgi.exe
QGIS_SERVER_URL=http://qgis-server:80
QGIS_SERVER_PROJECTS_PATH=/app/qgis_projects
QGIS_SERVER_PREVIEW_PATH=/app/qgis_preview
