DJANGO_SECRET_KEY=dev-key-change-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=georidge_platform.settings.dev
QGIS_SERVER_URL=http://localhost/qgis-ltr/qgis_mapserv.fcgi.exe
QGIS_SERVER_PROJECTS_PATH=E:/Projects/georidge-platform/django/qgis_projects
QGIS_SERVER_PREVIEW_PATH=E:/Projects/georidge-platform/django/qgis_preview
